* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  position: relative;
}

.navbar {
  justify-content: end;
  background-color: black;
  --bs-navbar-nav-link-padding-x: 1.5rem;
}
.navbar .navBarMenu {
  text-align: end;
  font-family: "Urbanist", sans-serif;
  padding-right: 1rem;
  gap: 4rem;
}
.navbar .navBarMenu .nav-link {
  color: white;
}
.navbar .navBarMenu .nav-link:hover {
  color: rgb(181, 41, 41);
  font-weight: bold;
}
.navbar .navBarMenu .actual {
  font-weight: bold;
  border-bottom: 1px solid rgb(181, 41, 41);
}
.navbar .navBarMenu .navbar-toggler {
  background-color: rgba(128, 128, 128, 0.653);
}

.mayorQue1, .mayorQue2, .mayorQue3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 4rem;
}

.mayorQue1 {
  background: linear-gradient(rgba(20, 38, 39, 0.926), black);
}
.mayorQue1:hover {
  color: rgb(181, 41, 41);
  font-style: italic;
}

.mayorQue2 {
  background-color: black;
}
.mayorQue2:hover {
  color: rgb(181, 41, 41);
  font-style: italic;
}

.mayorQue3 {
  background: linear-gradient(black, rgba(20, 38, 39, 0.926));
  margin-bottom: 0;
}
.mayorQue3:hover {
  color: rgb(181, 41, 41);
  font-style: italic;
}

.presentacion {
  display: flex;
  gap: 3rem;
  padding-bottom: 4rem;
  font-family: "Urbanist", sans-serif;
}
.presentacion .presentacionTexto {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.presentacion .presentacionTexto .presentacionTextoUp {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoRol {
  font-size: 1.5rem;
  color: rgb(181, 41, 41);
  margin: 0;
  animation: turnOnRed infinite alternate 4s;
}
@keyframes turnOnRed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(181, 41, 41);
  }
}
.presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoNombre {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 300px) {
  .presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoNombre {
    font-size: 2rem;
  }
}
.presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoResumen {
  margin-bottom: 2rem;
}
@media (max-width: 300px) {
  .presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoResumen {
    font-size: 0.6rem;
    padding-right: 2rem;
  }
}
.presentacion .presentacionTexto .presentacionTextoUp .presentacionTextoContact {
  text-decoration: none;
  background-color: rgb(181, 41, 41);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .presentacion .presentacionTexto .presentacionTextoUp {
    gap: 1rem;
  }
}
.presentacion .presentacionTexto .presentacionTextoDown {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}
.presentacion .presentacionTexto .presentacionTextoDown p {
  background-color: black;
  margin-bottom: 0;
  padding-inline: 1rem;
  margin-inline: 0;
  flex: 1;
}
.presentacion .presentacionTexto .presentacionTextoDown p:first-child, .presentacion .presentacionTexto .presentacionTextoDown p:nth-child(2) {
  border-right: 3px solid rgb(181, 41, 41);
}
@media (max-width: 375px) {
  .presentacion .presentacionTexto .presentacionTextoDown p:first-child, .presentacion .presentacionTexto .presentacionTextoDown p:nth-child(2) {
    border-right: none;
  }
}
.presentacion .presentacionTexto .presentacionTextoDown a {
  color: white;
  text-decoration: none;
}
@media (max-width: 991px) {
  .presentacion .presentacionTexto .presentacionTextoDown {
    margin-top: 1rem;
    font-size: 0.6rem;
  }
}
@media (max-width: 767px) {
  .presentacion .presentacionTexto .presentacionTextoDown {
    margin-top: 4rem;
  }
}
@media (max-width: 375px) {
  .presentacion .presentacionTexto .presentacionTextoDown {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .presentacion .presentacionTexto {
    margin-top: 4rem;
  }
}
@media (max-width: 575px) {
  .presentacion .presentacionTexto {
    padding-inline: 2rem;
  }
}
.presentacion .presentacionImagen {
  flex: 1;
}
.presentacion .presentacionImagen img {
  width: 100%;
}
@media (max-width: 767px) {
  .presentacion .presentacionImagen {
    opacity: 0;
    position: absolute;
  }
}
@media (max-width: 991px) {
  .presentacion .presentacionImagen {
    display: flex;
  }
}

.skills {
  background-color: rgba(20, 38, 39, 0.926);
  color: white;
  font-family: "Urbanist", sans-serif;
  padding-block: 4rem;
}
.skills h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.skills .skillsCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  grid-template-areas: "skillsCard1 skillsCard2  skillsCard3  skillsCard4" "skillsCard5 skillsCard6  skillsCard7  skillsCard8" "skillsCard9 skillsCard10 skillsCard11 skillsCard12" ".           skillsCard13 skillsCard14 .";
}
.skills .skillsCards .skillsCard1 {
  grid-area: skillsCard1;
}
.skills .skillsCards .skillsCard2 {
  grid-area: skillsCard2;
}
.skills .skillsCards .skillsCard3 {
  grid-area: skillsCard3;
}
.skills .skillsCards .skillsCard4 {
  grid-area: skillsCard4;
}
.skills .skillsCards .skillsCard5 {
  grid-area: skillsCard5;
}
.skills .skillsCards .skillsCard6 {
  grid-area: skillsCard6;
}
.skills .skillsCards .skillsCard7 {
  grid-area: skillsCard7;
}
.skills .skillsCards .skillsCard8 {
  grid-area: skillsCard8;
}
.skills .skillsCards .skillsCard9 {
  grid-area: skillsCard9;
}
.skills .skillsCards .skillsCard10 {
  grid-area: skillsCard10;
}
.skills .skillsCards .skillsCard11 {
  grid-area: skillsCard11;
}
.skills .skillsCards .skillsCard12 {
  grid-area: skillsCard12;
}
.skills .skillsCards .skillsCard13 {
  grid-area: skillsCard13;
}
.skills .skillsCards .skillsCard14 {
  grid-area: skillsCard14;
}
.skills .skillsCards .skillsCard {
  padding: 1.5rem 1rem;
}
.skills .skillsCards .skillsCard p {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .skills .skillsCards {
    gap: 1rem;
  }
}
@media (max-width: 666px) {
  .skills .skillsCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "skillsCard1 skillsCard2" "skillsCard3 skillsCard4" "skillsCard5 skillsCard6" "skillsCard7 skillsCard8" "skillsCard9 skillsCard10" "skillsCard11 skillsCard12" "skillsCard13 skillsCard14";
  }
}
.skills .skillsCards .skillsCardRed {
  background: linear-gradient(rgb(181, 41, 41), rgba(119, 26, 26, 0.926));
}
.skills .skillsCards .skillsCardBlack {
  background: linear-gradient(rgb(35, 61, 62), rgb(10, 24, 25));
}

.softSkills {
  color: white;
  font-family: "Urbanist", sans-serif;
  padding-block: 4rem;
}
.softSkills h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.softSkills .softSkillsCards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.softSkills .softSkillsCards .softSkillsCard {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
.softSkills .softSkillsCards .skillsCardRed {
  background: linear-gradient(rgb(181, 41, 41), rgba(119, 26, 26, 0.926));
  border-radius: 8px;
}
.softSkills .softSkillsCards .skillsCardBlack {
  background: linear-gradient(rgb(35, 61, 62), rgb(10, 24, 25));
  border-radius: 8px;
}

.experienceSummary {
  color: white;
  background-color: rgba(20, 38, 39, 0.926);
  padding-block: 4rem;
  font-family: "Urbanist", sans-serif;
}
.experienceSummary .experienceSummaryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "experienceSummaryCard1 experienceSummaryCard2 experienceSummaryCard3" "experienceSummaryCard1 experienceSummaryCard4 experienceSummaryCard5";
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 24, 25);
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard .experienceSummaryCardsYear {
  color: rgb(181, 41, 41);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 1rem;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard .experienceSummaryCardsTx {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 1rem;
  padding-inline: 4rem;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard1 {
  grid-area: experienceSummaryCard1;
  background-color: transparent;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard1 .experienceSummaryCard1Year {
  color: rgb(181, 41, 41);
  font-size: 6rem;
  margin-bottom: 0;
  font-weight: bold;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard1 .experienceSummaryCard1Tx {
  font-weight: bold;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard2 {
  grid-area: experienceSummaryCard2;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard3 {
  grid-area: experienceSummaryCard3;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard4 {
  grid-area: experienceSummaryCard4;
}
.experienceSummary .experienceSummaryContainer .experienceSummaryCard5 {
  grid-area: experienceSummaryCard5;
}
@media (max-width: 767px) {
  .experienceSummary .experienceSummaryContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ".                      experienceSummaryCard2" "experienceSummaryCard1 experienceSummaryCard3" "experienceSummaryCard1 experienceSummaryCard4" ".                      experienceSummaryCard5";
  }
}
@media (max-width: 450px) {
  .experienceSummary .experienceSummaryContainer {
    display: flex;
    flex-direction: column;
    --bs-gutter-x: 0;
    padding-inline: 2rem;
  }
}

.experienceSection {
  color: white;
  background-color: rgba(20, 38, 39, 0.926);
  font-family: "Urbanist", sans-serif;
  padding-block: 4rem;
}
.experienceSection h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.experienceSection .experienceContainer {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.experienceSection .experienceContainer .experienceImage {
  flex: 1;
}
.experienceSection .experienceContainer .experienceImage img {
  width: 100%;
  margin: 3rem 0 0 3rem;
  border: 3px solid #22D2A0;
  box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #1FC11B, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #FFD913, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #FF9C55, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #FF5555;
}
.experienceSection .experienceContainer .experienceImage img:hover {
  animation: shadowWave 1s ease infinite alternate;
}
@keyframes shadowWave {
  0% {
    border: 3px solid #22D2A0;
    box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #1FC11B, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #FFD913, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #FF9C55, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #FF5555;
  }
  25% {
    border: 3px solid #FF5555;
    box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #22D2A0, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #1FC11B, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #FFD913, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #FF9C55;
  }
  50% {
    border: 3px solid #FF9C55;
    box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #FF5555, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #22D2A0, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #1FC11B, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #FFD913;
  }
  75% {
    border: 3px solid #FFD913;
    box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #FF9C55, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #FF5555, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #22D2A0, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #1FC11B;
  }
  100% {
    border: 3px solid #1FC11B;
    box-shadow: -10px -10px 0 -3px rgba(20, 38, 39, 0.926), -10px -10px #FFD913, -20px -20px 0 -3px rgba(20, 38, 39, 0.926), -20px -20px #FF9C55, -30px -30px 0 -3px rgba(20, 38, 39, 0.926), -30px -30px #FF5555, -40px -40px 0 -3px rgba(20, 38, 39, 0.926), -40px -40px #22D2A0;
  }
}
@media (max-width: 767px) {
  .experienceSection .experienceContainer .experienceImage {
    display: none;
  }
}
.experienceSection .experienceContainer .experienceCards {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs {
  padding: 0.5rem 1rem 0;
  background-color: rgb(10, 24, 25);
  border-radius: 10px;
  position: relative;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs h4 {
  color: rgb(181, 41, 41);
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs h4 .spanBlanco {
  color: white;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs .experienceCardDates {
  position: absolute;
  background-color: rgb(10, 24, 25);
  border: 3px solid #22D2A0;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  right: -20px;
  top: -10px;
  opacity: 0;
}
@media (max-width: 991px) {
  .experienceSection .experienceContainer .experienceCards .experienceCardJobs .experienceCardDates {
    border: 1px solid #22D2A0;
    padding: 0.1rem 0.8rem;
    top: -22px;
    right: 0;
  }
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs .arrowDown {
  color: rgb(181, 41, 41);
  margin-left: 0.5rem;
  animation: turnOnRed infinite alternate 1s;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs .arrowUp {
  color: rgb(134, 134, 234);
  margin-left: 0.5rem;
  opacity: 0;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs input, .experienceSection .experienceContainer .experienceCards .experienceCardJobs .experienceCardJobsInfoActivities {
  display: none;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs input:checked ~ .experienceCardJobsInfoActivities {
  display: block;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs input:checked ~ label > .arrowDown {
  display: none;
  animation: none;
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs input:checked ~ label > .arrowUp {
  animation: turnOnBlue infinite alternate 1s;
}
@keyframes turnOnBlue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(134, 134, 234);
  }
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs input:checked ~ .experienceCardDates {
  animation: showUpDates 1s forwards 0.5s;
}
@keyframes showUpDates {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.experienceSection .experienceContainer .experienceCards .experienceCardJobs ul {
  text-align: justify;
  color: pink;
  list-style-type: square;
}
@media (max-width: 575px) {
  .experienceSection .experienceContainer {
    padding-inline: 2rem;
  }
}

/* fin 7_experience */
.educationContainer {
  color: white;
  font-family: "Urbanist", sans-serif;
  display: flex;
}
.educationContainer h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.educationContainer .educationCerts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.educationContainer .educationSchool {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.educationContainer .educationCards {
  width: 80%;
  padding: 2.5rem 1rem;
  margin-block: 1rem;
}
.educationContainer .educationCards .educationCardsTittle {
  font-weight: bold;
  font-size: 1.3rem;
}
.educationContainer .educationCardRed {
  background: linear-gradient(rgb(181, 41, 41), rgba(157, 0, 0, 0.926));
}
.educationContainer .educationCardBlack {
  background: linear-gradient(rgb(35, 61, 62), rgb(10, 24, 25));
}
.educationContainer .educationCardBlack .avance {
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  height: 10px;
  width: 100%;
}
.educationContainer .educationCardBlack .avance .avanceValueRH, .educationContainer .educationCardBlack .avance .avanceValueWD {
  position: absolute;
  background-color: rgb(181, 41, 41);
  height: 10px;
  width: 0;
}
.educationContainer .educationCardBlack .avance .avanceValueRH {
  animation: loadRH 4s forwards;
}
.educationContainer .educationCardBlack .avance .avanceValueWD {
  animation: loadWD 4s forwards;
}
@keyframes loadRH {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes loadWD {
  0% {
    width: 0;
  }
  100% {
    width: 29%;
  }
}
@media (max-width: 575px) {
  .educationContainer {
    flex-direction: column;
    gap: 2rem;
  }
}

footer {
  background-color: rgba(20, 38, 39, 0.926);
  font-family: "Urbanist", sans-serif;
  position: relative;
}
footer .footerLinkLista {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
footer .footerLinkLista .footerLinkItem {
  text-decoration: none;
  color: rgb(216, 216, 216);
}
footer .footerLinkLista .footerLinkItem:hover {
  color: white;
  text-decoration: underline;
}
@media (max-width: 400px) {
  footer .footerLinkLista {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
footer .footerSocial {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
footer .footerSocial img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
@media (max-width: 400px) {
  footer .footerSocial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
    -moz-column-gap: 0;
         column-gap: 0;
    margin-inline: 3rem;
  }
}
footer .footerLogo {
  text-align: center;
  padding: 1rem 0 1rem;
}
footer .footerLogolink {
  text-decoration: none;
  color: rgb(201, 201, 201);
}
footer .footerLogolink:hover::before {
  color: white;
  content: "< ";
}
footer .footerLogolink:hover::after {
  color: white;
  content: " >";
}
footer .irArriba {
  font-size: 1.5rem;
  color: rgb(181, 41, 41);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  animation: turnOnRed infinite alternate 1s;
}

.skillDescriptions {
  color: white;
  font-family: "Urbanist", sans-serif;
}
.skillDescriptions .skillTittle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
}
.skillDescriptions .skillDescription {
  text-align: center;
  margin-bottom: 4rem;
}
.skillDescriptions .skillDesCards {
  height: 500px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 6rem;
}
.skillDescriptions .skill-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk7.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk8.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-9 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk9.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-11 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk11.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-12 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk12.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-13 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk13.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skill-14 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/desk14.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.skillDescriptions .skillDesCard {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
}
.skillDescriptions .skillDesCard h3 {
  color: rgb(181, 41, 41);
  flex: 1;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}
.skillDescriptions .skillDesCard p {
  background-color: rgba(255, 255, 255, 0.124);
  flex: 2;
  margin-bottom: 0;
  padding: 1rem;
  text-align: justify;
}
@media (max-width: 991px) {
  .skillDescriptions .skillDesCard {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .skillDescriptions .skillDesCard {
    font-size: 0.8rem;
  }
}
@media (max-width: 457px) {
  .skillDescriptions .skillDesCard {
    gap: 0;
    padding-inline: 0.5rem;
  }
}

.contactMe {
  color: white;
  font-family: "Urbanist", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/contact.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactMe .contactMeCard {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.124);
  max-width: 60%;
}
@media (max-width: 666px) {
  .contactMe .contactMeCard {
    padding: 1rem;
    max-width: 90%;
  }
}
.contactMe .contactMeCard .contactTextUp {
  margin-bottom: 4rem;
}
.contactMe .contactMeCard .contactTextUp .contactTittle {
  border-bottom: 2px solid rgb(181, 41, 41);
  display: inline-block;
}
.contactMe .contactMeCard .contactTextUp p {
  font-size: 0.8rem;
}
.contactMe .contactMeCard form .inputData {
  overflow: hidden;
  position: relative;
  padding-block: 1rem;
}
.contactMe .contactMeCard form .inputData .inputDataContent {
  position: relative;
  width: 100%;
}
.contactMe .contactMeCard form .inputData .inputDataContent input {
  width: 100%;
  padding-bottom: 0.5rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
  font-weight: normal;
}
.contactMe .contactMeCard form .inputData .inputDataContent input:focus {
  font-weight: bold;
}
.contactMe .contactMeCard form .inputData .inputDataContent input:focus ~ label, .contactMe .contactMeCard form .inputData .inputDataContent input:valid ~ label {
  color: rgb(181, 41, 41);
  transform: translateY(-20px);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: default;
}
.contactMe .contactMeCard form .inputData .inputDataContent input::-moz-placeholder {
  color: transparent;
}
.contactMe .contactMeCard form .inputData .inputDataContent input::placeholder {
  color: transparent;
}
.contactMe .contactMeCard form .inputData .inputDataContent input:not(:-moz-placeholder-shown):invalid ~ label {
  color: yellow;
  transform: translateY(-20px);
  font-size: 0.9rem;
  font-weight: bold;
}
.contactMe .contactMeCard form .inputData .inputDataContent input:not(:placeholder-shown):invalid ~ label {
  color: yellow;
  transform: translateY(-20px);
  font-size: 0.9rem;
  font-weight: bold;
}
.contactMe .contactMeCard form .inputData .inputDataContent input:not(:-moz-placeholder-shown):invalid ~ label::after {
  content: " ( Invalid format! )";
}
.contactMe .contactMeCard form .inputData .inputDataContent input:not(:placeholder-shown):invalid ~ label::after {
  content: " ( Invalid format! )";
}
.contactMe .contactMeCard form .inputData .inputDataContent input:focus ~ .underline {
  width: 100%;
}
.contactMe .contactMeCard form .inputData .inputDataContent label {
  position: absolute;
  left: 0;
  height: 30px;
  color: white;
  cursor: text;
  transition: all 0.2s ease-out;
}
.contactMe .contactMeCard form .inputData .inputDataContent .underline {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: rgb(181, 41, 41);
  transition: all 0.2s ease-out;
}
.contactMe .contactMeCard form .botones input[type=submit], .contactMe .contactMeCard form .botones input[type=reset] {
  text-decoration: none;
  background-color: rgba(236, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin: 4rem 2rem 0 0;
}
.contactMe .contactMeCard form .botones input[type=reset] {
  background-color: rgb(139, 139, 139);
}
.contactMe .contactMeCard .contactSocial {
  margin-top: 4rem;
  display: flex;
  gap: 2.9rem;
}
.contactMe .contactMeCard .contactSocial img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
@media (max-width: 400px) {
  .contactMe .contactMeCard .contactSocial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.schoolDescriptions {
  color: white;
  font-family: "Urbanist", sans-serif;
}
.schoolDescriptions .schoolDescription {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */