.contactMe {
    color: white;
    font-family: $fontMain;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../images/contact.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contactMeCard {
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.124);
        max-width: 60%;
        @media (max-width: 666px) {
            padding: 1rem;
            max-width: 90%;
        }
        .contactTextUp{
            margin-bottom: 4rem;
            .contactTittle {
                border-bottom: 2px solid $redMain;
                display: inline-block;
            }
            p { font-size: 0.8rem; }
        }
        form {
            .inputData {
                overflow: hidden;
                position: relative;
                padding-block: 1rem;
                .inputDataContent {
                    position: relative;
                    width: 100%;
                    input {
                        width: 100%;
                        padding-bottom: 0.5rem;
                        border: none;
                        background: none;
                        outline:none;
                        border-bottom: 2px solid white;
                        color: white;
                        font-weight: normal;
                        &:focus { font-weight: bold; }
                        &:focus ~ label, &:valid ~ label {
                            color: $redMain;
                            transform: translateY(-20px);
                            font-size: 0.9rem;
                            font-weight: bold;
                            cursor:default;
                        }
                        &::placeholder { color: transparent; }
                        &:not(:placeholder-shown):invalid ~ label {
                            color: yellow;
                            transform: translateY(-20px);
                            font-size: 0.9rem;
                            font-weight: bold;
                            &::after { content: " ( Invalid format! )";}
                        }
                        &:focus ~ .underline{ width: 100%; }
                    }
                    label {
                        position: absolute;
                        left:0;
                        height: 30px;
                        color: white;
                        cursor:text;
                        transition: all 0.2s ease-out;
                        // z-index:10;
                    }
                    .underline {
                        content:'';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background: $redMain;
                        transition: all 0.2s ease-out;
                    }
                }
            }
            .botones {
                input[type=submit],input[type=reset] {
                    text-decoration: none;
                    // outline: none;
                    background-color: rgba(236, 0, 0, 0.6);
                    color: white;
                    border-radius: 5px;
                    padding: 6px;
                    margin: 4rem 2rem 0 0
                }
                input[type=reset] { background-color: rgb(139, 139, 139); }
            }
        }        
        .contactSocial {
            margin-top: 4rem;
            display: flex;
            // justify-content: center;
            gap: 2.9rem;    
            img:hover {
                transform: scale(1.2);
                transition: 0.4s;
            }
            @media (max-width: 400px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 2rem;
                column-gap: 0;
            }
        }

    }
}
